*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

.box>.button:nth-child(2),.box>.button:nth-child(5),.box>.button:nth-child(8) {
  border-right: 2px solid;
  border-left: 2px solid;
}
.box>.button:nth-child(4),.box>.button:nth-child(5),.box>.button:nth-child(6) {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  user-select: none;
  font-size: 1.5rem;
}

main>button {
  all:unset;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 0.1px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.1s;
  font-size: 1.2rem;
}
main>button:active {
  box-shadow: none;
}
main>button:hover {
  transform: scale(1.05);
}

footer {
  width: 100vw;
  text-align: center;
  align-self: self-end;
  justify-content: flex-end;
}