*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}